.brand-size{
    width: 14rem;
}
.footer{
    background-color: #88c8bc;
    font-size: 1.7em;
    color: white;
    background-color: #88c8bc;
    font-family: monospace;
}
.bg-clr{
    background-color: rgb(238, 238, 238);
}
.fam{
    font-family: monospace;
}